$color-primary: #793bc6;
$color-primary-light: #8c43e6;
$color-primary-light-1:#c07ad2;
$color-primary-dark: #5e2c99;
$color-primary-dark-1:#593780;

$color-secondary:#21831A;
$color-secondary-light:#32C326;
$color-secondary-dark:#0E370B;

//natural color
$color-black: #000000;
$color-grey-dark: #646464;
$color-grey:#C8C8C8;
$color-grey-light:#F2F2F2;
$color-white: #FAFAFA;

