.main{
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: [newsFeed-start]55vw[newsFeed-end chatFooter-start] 25vw [chatFooter-end];
  grid-template-rows: 1fr;
  grid-column-gap: .4rem;
  justify-content: center;



  @include respond(tab-port){ //width <900 ?
    grid-template-columns: [newsFeed-start]70vw[newsFeed-end chatFooter-start] 30vw [chatFooter-end];
    grid-template-rows: 1fr;
  }

  @include respond(phone){ //width <600 ?
    grid-template-columns: [newsFeed-start]70vw[newsFeed-end chatFooter-start] 30vw [chatFooter-end];
    grid-template-rows: 1fr;
  }

}
.chatFooter{
  grid-column: chatFooter-start / chatFooter-end;
  display: grid;
  grid-template-rows: [chat-start] 80vh [chat-end footer-start] min-content [footer-end];
  grid-template-columns:1fr;
  grid-row-gap: .4rem;

  @include respond(phone) { //width <600 ?
    display: none;
  }

}

.chatFooter2{
  grid-column: chatFooter-start / chatFooter-end;
  display: grid;
  grid-template-rows: [chat-start] 80vh [chat-end footer-start] min-content [footer-end];
  grid-template-columns:1fr;
  grid-row-gap: .4rem;
  @include respond(phone) { //width <600 ?
    display: none;
  }

}

.newsFeed{

  grid-column: newsFeed-start / newsFeed-end;
  overflow: auto;

  @include respond(phone) { //width <900 ?
    grid-column: newsFeed-start / chatFooter-end;
  }
}